body {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#Cabecero {
    background-color: #ffffff;
    padding: 10px;
    text-align: right;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#form_cabecero {
    display: inline;
}

#Cancelar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#Cancelar:hover {
    background-color: #45a049;
}

#Contenedor_Principal {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Contenedor_Titulo {
    text-align: center;
    margin-bottom: 20px;
}

.Titulo {
    color: #333;
}

.Contenedor_Busqueda {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Textos {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

.Botones {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: #333;
}

#busca {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#busca:hover {
    background-color: #45a049;
}

/* Sesion Cerrada */
.Contenedor_SesionCerrada {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
}

#Titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff0000;
}

#Texto {
    font-size: 16px;
    margin: 10px 0;
}

#imgAdvertencia {
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

#Boton_Loger {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}

#Boton_Loger:hover {
    background-color: #45a049;
}


