body {
	padding: 0%;
	margin: 0%;
	font-family: arial;
	background-color: #BDFFBC;
}
.Encabezado {
  	background-color: #FF2300;
  	padding: 0.5%;
  	width: 99%;
  	padding-bottom: 1%;
}

.Contenedor_Botones {
  	float:right;
  	width: 18%;
}

.Botones {
  	margin-left: 1%;
  	margin-right: 3%;
  	cursor: pointer;
  	background-color: #96FF96;
  	border: none;
  	padding: 3% 6%;
  	border-radius: 3px;
  	font-family: arial;
}
#Boton_1 {
	background-color: #00D5BD;
}
#Boton_2 {
	background-color: #00D5BD;
}
#Boton_3 {
	background-color: #00D5BD;
}
#Boton_4 {
	background-color: #00D5BD;
}
.Botones:hover {
  	opacity: 0.8;
}
.Botones:active {
	background-color: aqua;
}
.Contenedor_Logo {
	margin-left: 47%;
}
#logo{
	height: 6%;
	width: 7%;
	border-radius: 5px;
}
.Enlaces {
	background-color: #93FFBF;
	padding: 0.4%;
	text-decoration: none;
	color: black;
	border-radius: 3px;
	font-family: arial;
	font-size: small;
	margin-left: 0.5%;
	
}
.Enlaces:hover {
	opacity: 0.8;
}

/*Datos Personales*/
.Tabla {
	margin-top: 3%;
	margin-left: 20%;
  	width: 60%;
  	border-collapse: collapse;
  	border-radius: 10px;
  	border-color: #888;
  	overflow: hidden;
  	margin-bottom: 3%;
  	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}


.Contenedor_Titulo {
	background-color: #f2f2f2;
	text-align: left;
	padding: 1.5%;
}

.Titulo {
	font-size: large;
	color: #353535;
}

.Texto {
	font-size: x-small;
	color: #444746;
}

.Filas:nth-child(even) {
  	background-color: #ffffff;
}

.Filas:nth-child(odd) {
  	background-color: #f9f9f9;
}

.Columna_1, .Columna_2, .Columna_3 {
  	padding: 1.5%;
	color: #444746;
}
.Columna_1 {
	font-size: small;
}

.Confirmar {
  	background-color: #16CF00;
  	border: none;
  	color: white;
  	padding: 2%;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: small;
  	margin: 1.5%;
  	cursor: pointer;
  	border-radius: 5px;
}

.Confirmar:disabled {
  	background-color: #CCCCCC;
  	cursor: not-allowed;
}
.Confirmar:hover {
	opacity: 0.8;
}
.Opciones {
	width: 45%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*Informacion Principal*/

.Contenedor_Informacion_Principal {
    margin: 10%;
    margin-top: 4%;
    background-color: #f7f7f7; /* Color de fondo claro */
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra con color negro */
    text-align: justify; 
    color: #333; /* Color del texto oscuro */
}

.Titulo-Resumen {
    background-color: #e2e2e4; /* Color de fondo gris claro */
    width: 70%;
    align-content: center;
    margin-left: 15%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra con color negro */
    color: #333; /* Color del texto oscuro */
    display: inline-block;
}

.Contenedor_Informacion_Arriba {
    background-color: #f1f1f1;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    color: #333; /* Color del texto oscuro */
}
.Contenedor_Con_Imagen {
	margin-left: 8%;
	width: 64%;
	display: inline-block;
}
.Contenedor_Con_Imagen2 {
	width: 20%;
	display: inline-block;
}
.Contenedor_IMG {
	margin-left: 35%;
	width: 55%;
	border-radius: 5px;
}

.Titulo2 {
    font-size: x-large;
    color: #333; /* Color del texto oscuro */
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.Texto1 {
    font-size: medium;
    color: #666; /* Color del texto gris oscuro */
    line-height: 1.2;
    margin-bottom: 15px;
}

.Titulo3 {
    font-size: large;
    color: #444; /* Color del texto gris oscuro */
    margin-bottom: 5px;    
}

.Texto2 {
    font-size: small;
    color: #666; /* Color del texto gris oscuro */
    line-height: 1.6;
    margin-bottom: 15px;
}



/*Seguridad y Privacidad*/

.Contenedor_Texto_Seguridad {
	background-color: #fff;
	padding: 5%;
	margin: 10%;
	margin-top: 4%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.Contenedor_Arriba {
	background-color: #e2e2e4;
	width: 30%;
	padding: 2%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: inline-block;
	margin-left: 10%;
}
.Contenedor_Centro {
	background-color: #e2e2e4;
	width: 30%;
	margin-top: 2%;
	margin-left: 33%;
	padding: 2%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}









