
body {
	padding: 0%;
	margin: 0%;
}
.Encabezado {
  	background-color: #FF2300;
  	padding: 0.5%;
  	position: fixed;
  	width: 100%;
}

.Contenedor_Botones {
  	position: absolute;
	top: 50%;
  	transform: translateY(-50%);
  	right: 0.5%;
  	display: flex;
  	align-items: center;
  	width: 18%;
}

.Botones {
  	margin-left: 1%;
  	margin-right: 3%;
  	cursor: pointer;
  	background-color: #96FF96;
  	border: none;
  	padding: 3% 6%;
  	border-radius: 3px;
  	font-family: arial;
}
.Botones:hover {
  opacity: 0.8;
}
.Botones:active {
	background-color: aqua;
}
.Contenedor_Logo {
	margin-left: 48%;
}
#logo{
	height: 6%;
	width: 7%;
	border-radius: 5px;
}

.Contenedor_Titulo {
	margin-top: 10%;
	float: top;
	padding-top: 1%;
	margin-left: 20%;
	margin-right: 20%;
}
.titulo {
	text-align: center;
}
.Contenedor_Texto {
	background-color: #FFC1C1;
	border-radius: 10px;
	padding: 1%;
	width: 75%;
	display: inline-block;
	margin-left: 12%;
	margin-top: 8%;
	text-align: justify;
	font-family: arial;
}
.Enlaces {
	background-color: #93FFBF;
	padding: 0.4%;
	text-decoration: none;
	color: black;
	border-radius: 3px;
	font-family: arial;
	font-size: small;
}
.Enlaces:hover {
	opacity: 0.8;
}
#soporte_02, #soporte_01 {
	margin-left: 20%;
	border-radius: 3px;
}
#soporte_03 {
	margin-left: 38%;
	border-radius: 3px;
}























