body {
	padding: 0%;
	margin: 0%;
	font-family: arial;
	background-color: #BDFFBC;
}

.Contenedor_Registrarse {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 5px;
	border: 2px solid red;
	text-align: center;
	width: 50%;
}
.Botones {
	margin-top: 7%;
	margin-bottom: 2%;
	border-radius: 5px;
	background-color: red;
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-size: small;
	padding: 1.5% 3%;
	border: none;
	font-weight: bold;
}
.Botones:hover {
	opacity: 0.7;
}
.Botones:active {
	background-color: orange;
}
#Contenedor_Cabecero {
	padding-top: 5%;
	padding-bottom: 0.5%;
	background-color: red;
	color: white;
	font-weight: bold;
}
#imgPerfil {
	border-radius: 10px;
	left: 50%;
	width: 5%;
	height: 10%;
	display: block;
	margin: 0 auto;
}
.Texto_Ayuda {
	font-size: x-small;
}
.Boton_Escribir {
	margin-top: 1%;
	border-radius: 5px;
	width: 35%;
}



