body {
    background-color: #000000; /* Fondo negro para toda la pantalla */
    color: #ffffff; /* Texto blanco */
}

#menu-container {
    position: relative;
    display: inline-block;
}

ul {
    position: absolute;
    top: 100%;
    border: #EAEDED 2px solid;
    border-radius: 10px;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Fondo negro */
    width: 170%;
}

#nada{
    background: rgb(0, 0, 160);	
}
#usuario{
    font-size: medium;
    background: rgb(0, 0, 160);
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-family: arial;
    color: #ffffff; /* Texto blanco */
}
#correo{
    background: #1e1e1e;
    font-size: small;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-family: arial;
    color: #ffffff; /* Texto blanco */
}

li a {
    font-size: small;
    font-family: arial;
    display: block;
    text-align: left;
    color: #ffffff; /* Texto blanco */
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #2a2a2a; /* Gris oscuro para resaltar el hover */
}

#menu-icon {
    cursor: pointer;
    height:15%;
    width: 15%;
}
#menu-icon:hover {
    opacity: 0.5;
}
#imgSalir{
    height:6%;
    width: 6%;
}
#imgConfig{
    height:7%;
    width: 7%;
}
