body {
	background-color: #1e1e1e;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
}

#Cabecero {
    background-color: #2c2c2c;
    padding: 10px;
    text-align: right;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#form_cabecero {
    display: inline;
}

#Cancelar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#Cancelar:hover {
    background-color: #45a049;
}

#Ofertas {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 1%;
    width: 90%;
    background-color: #4c4c4c;
    border-radius: 10px;
}

#Tabla {
    display: inline-block;
    margin-top: 3%;
    width: 30%;
    margin-left: 13%;
    border-collapse: collapse;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 3%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.Contenedor_Titulo {
    background-color: #3c3c3c;
    text-align: center;
    padding: 1.5%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.Contenedor_Subtitulo {
	background-color: #3c3c3c;
	text-align: center;
	padding: 1.5%;
	border-bottom: solid;
	border-bottom-color: gray;
}

.Titulo {
    font-size: x-large;
    color: #e0e0e0;
}

.Subtitulo {
    font-size: large;
    color: #e0e0e0;
}

.Texto {
    font-size: x-small;
    color: #c0c0c0;
}

.Filas:nth-child(even) {
    background-color: #3c3c3c;
}

.Filas:nth-child(odd) {
    background-color: #2c2c2c;
}

.Columna_1, .Columna_2, .Columna_3, .Columna_4{
    padding: 2%;
    color: #c0c0c0;
}

.Columna_1 {
    font-size: small;
}

.Columna_2 {
    font-size: medium;
    padding-left: 2%;
}

.Columna_3 {
    font-size: small;
    padding-left: 2%;
    border-left: solid;
    border-left-color: gray;
}
.Botones {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin: 1.5%;
    cursor: pointer;
    border-radius: 5px;
    padding: 2%;
}

.Botones:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.Botones:hover {
    opacity: 0.8;
}